footer {
    background-image: url("../assets/banner3.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
    background-image: url("../assets/banner3.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .logo-footer{
        height: 120px;
      }
  }