

body {
    font-family: $fuente-principal; 
    color: $color-principal;
    
  }

  .grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr auto 0.1fr;
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
    ;
    row-gap: 10px;
    column-gap: 10px;
}