main {
  grid-area: main;
  padding: 1rem;
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}  


.txt-area-main {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  align-items: center;
  text-align: justify
}

.iframe-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
}


  iframe {
    width: 30rem;
    height: 20rem
  }