@media (max-width:1200px) {
    .grid-container {
        height: 100vh;
        width: 100vw;
    }
    .main {
        grid-template-columns: 0.5fr auto 0.5fr;
        grid-template-areas: 
            "header header header"
            "main main main"
            "footer footer footer"
        ;
        row-gap: 10px;
        column-gap: 10px;
    }
}

@media (max-width: 992px) {
.grid-container {
        height: 100vh;
        width: 100vw;
    }
    .main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "main main"
            "footer footer"
        ;
        row-gap: 10px;
        column-gap: 10px;
        section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
    }
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .grid-container {
        height: 100vh;
        width: 100vw;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
    }
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 576px){
    .grid-container {
        height: 100vh;
        width: 100vw;
    }
    .header{
        display: flex;
        flex-direction: column;
    }

    .main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
    }
    .footer {
        flex-direction: column;
    }
}