/*Globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes movimiento {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.boton-federaciones {
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.boton-federaciones:hover {
  background-color: #fff;
  text-decoration: dashed;
  color: #3498db;
  animation: movimiento 0.7s ease-in-out both;
}

.boton-torneos {
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #fff;
  color: #3498db;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.boton-torneos:hover {
  background-color: #3498db;
  text-decoration: dashed;
  color: #fff;
  animation: movimiento 0.7s ease-in-out both;
}

.boton-contacto {
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: lightblue;
  color: darkblue;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.boton-contacto:hover {
  background-color: darkblue;
  text-decoration: dotted;
  color: lightblue;
  animation: movimiento 0.7s ease-in-out both;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: darkblue;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr auto 0.1fr;
  grid-template-columns: 0.5fr auto 0.5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  row-gap: 10px;
  column-gap: 10px;
}

/**********Comunes**********/
/*HEADER*/
.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-image: url("../assets/banner3.avif");
  background-size: cover;
}
.header .logo-header {
  height: 200px;
}
.header .div-logo {
  display: inline-block;
  width: 20%;
}
.header .div-brand {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.header .div-nav {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: end;
}

/*MAIN*/
main {
  grid-area: main;
  padding: 1rem;
}
main section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.txt-area-main {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  align-items: center;
  text-align: justify;
}

.iframe-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
}

iframe {
  width: 30rem;
  height: 20rem;
}

/*FOOTER*/
footer {
  background-image: url("../assets/banner3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  background-image: url("../assets/banner3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer .logo-footer {
  height: 120px;
}

/******Particulares*******/
.nosotros-img {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lbl-contacto {
  display: block;
  text-align: center;
}

.contacto-main {
  display: block;
  padding: 15px;
  min-width: 33%;
  text-align: center;
}
.contacto-main .contact-input {
  width: 20rem;
}
.contacto-main .contact-area {
  width: 30rem;
}

form {
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .grid-container {
    height: 100vh;
    width: 100vw;
  }
  .main {
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    row-gap: 10px;
    column-gap: 10px;
  }
}
@media (max-width: 992px) {
  .grid-container {
    height: 100vh;
    width: 100vw;
  }
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main main" "footer footer";
    row-gap: 10px;
    column-gap: 10px;
  }
  .main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .grid-container {
    height: 100vh;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .grid-container {
    height: 100vh;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
